<link rel="stylesheet" type="text/css" href="styles.css">
<div class="arrowBody">
	<div class="arrow">
		<div class="arrowArrow"></div>
		<div class="arrowStick"></div>
		</div>
	<div class="square"></div>
</div>
<div class="SillyDecisionToHideThatHorribleThing"></div>
